.newwine-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  background: linear-gradient(180deg, #ffffff, #f4e6f9);
  border-radius: 20px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.newwine-container h2 {
  color: #3a003a;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.newwine-container form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.newwine-container label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 500;
}

.newwine-container input[type="text"],
.newwine-container input[type="date"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.newwine-container input:focus {
  border-color: #800080;
  box-shadow: 0 0 5px rgba(128, 0, 128, 0.4);
}

.newwine-container button {
  padding: 12px;
  font-size: 16px;
  background: linear-gradient(90deg, purple, #800080, rgb(69, 0, 69));
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.newwine-container button:hover {
  background-color: rgb(69, 0, 69);
  transform: scale(1.02);
}
